header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background: $color-yellow;

    .navLinks {
        margin: 20px;
        font-size: 16px;
        text-decoration: none;
        color: $color-green;
        transition: 0.4s;

        &:hover {
            color: $color-pink;
        }
    }

    .active {
        font-size: 18px;
        color: $color-light-green;
    }

    button {
        background: $color-light-green;
        color: $color-white;
        border-radius: 10px;
        padding: 5px 20px;
        transition: 0.4s;

        &:hover {
            background: $color-yellow;
            color: black;
        }
    }
}
