header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background-color: lightblue;

    .navLinks {
        margin: 20px;
        font-size: 16px;
        text-decoration: none;
        color: black;
        transition: 0.4s;

        &:hover {
            color: tomato;
        }
    }

    .active {
        font-size: 18px;
        color: blue;
    }

    button {
        background: tomato;
        border-radius: 10px;
        padding: 5px 20px;
    }
}
