.thought {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    background: $color-green;

    &-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
        color: $color-green;
        background: $color-white;
        @media screen and (min-width: 800px) {
            width: 50%;
        }

        textarea {
            font-size: 16px;
            width: 100%;
            height: 400px;
            padding: 10px;
            resize: none;
            border: 2px solid $color-green;
            border-radius: 20px;
            outline: none;
        }

        button {
            margin: 10px 20px;
            padding: 5px 10px;
            color: $color-white;
            border-radius: 10px;
            background: $color-green;
        }

        p {
            //line-height: 2px;
        }
    }

    .post-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }

    .p-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px auto 0;
        border-bottom: 5px solid $color-yellow;

        h4 {
            font-weight: 800;
            margin: 0;
        }

        p {
            font-weight: 800;
        }
    }
}
